html {
  background-color: bisque;
}

.App {
  text-align: center;
}

.product-container {
  display: flex;
  position: relative;
  top: 20px;
  background-color: white;
  margin: 0 auto;
  width: 800px;
  padding: 1rem;
  border-radius: .25rem;
  border: 10px solid black;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 100px;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 5px;
  transform: rotate(3deg);
  margin-bottom: 10px;
}

.product {
  display: block;
  justify-content: center;
  margin: 0px auto;
  font-size: 1em;
  width: 210px;
  height: 210px;
}

.text {
  font-style: black;
  display: block;
  justify-content: center;
  margin: 0px auto;
  font-size: 7em;
  font-family: 'Bebas Neue', sans-serif;
}

.back-text {
  font-style: black;
  display: flex;
  position: relative;
  top: 20px;
  justify-content: center;
  margin: 0px auto;
  font-size: 3em;
  font-family: 'Bebas Neue', sans-serif;
}
